@media screen and (max-width: 1700px) {
  section.techcolSection .container {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1620px) {

  .container,
  section.techcolSection .container {
    max-width: 90%;
  }

  section.specsSection .container {
    max-width: 100%;
  }

  .textbox {
    padding: 0 15px;
  }

  section.techcolSection h2 {
    padding: 50px;
  }
}

@media screen and (max-width: 1490px) {
  .box {
    height: 325px;
    width: 325px;
  }

  .content .box h4 {
    font-size: 30px;
  }

  section.boxesSection .text-box {
    padding: 20px 20px 20px 45px;
  }

  .carousel {
    width: 1000px;
  }

  .in-box {
    padding: 0 40px;
  }

  section.wowclientsSection .btn {
    width: 350px;
  }

  section.fpoSection .description {
    padding: 0 5%;
  }

  section.fpoSection .animation {
    width: 100%;
    right: 20px;
    top: -120px;
  }

  section.fpoSection .animation img {
    width: 100%;
  }

  .indent-text {
    width: 70%;
  }

  a.btn {
    width: 300px;
  }

  section.reviewsSection.large p {
    width: auto;
    position: relative;
    top: 0;
  }

  .box-text {
    padding: 0 100px;
  }

  section.techcolSection h2 {
    padding: 30px;
  }

  section.techcolSection h4 {
    font-size: 28px;
  }

  section.techcolSection p {
    font-size: 24px;
  }

  .textbox {
    height: 409px;
  }

  section.techcolSection {
    padding: 150px 0 0;
  }

  section.bottomboxSection .container {
    max-width: 90%;
  }

  .content h1 {
    font-size: 118px;
  }

  .content h1 span::before {
    bottom: 59px;
  }

  section.bannerSection .btn {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .in-box-img {
    height: 350px;
  }

  .box-indent {
    width: 76%;
  }
}

@media screen and (max-width: 1390px) {
  .box {
    height: 290px;
    width: 290px;
  }
}

@media screen and (max-width: 1200px) {
  .box {
    height: 220px;
    width: 220px;
    padding: 0 15px;
  }

  .box img {
    height: 28px;
  }

  .content .box h4 {
    font-size: 24px;
  }

  section.boxesSection .text-box {
    padding: 20px 0px 20px 15px;
    font-size: 22px;
  }

  .content h2 {
    font-size: 40px;
  }

  .box h4 span {
    height: 100px;
  }

  .content h2 span:before {
    height: 13px;
    bottom: 17px;
  }

  .content h3 {
    font-size: 28px;
  }

  a.btn,
  section.wowclientsSection .btn,
  section.holderSection .btn {
    font-size: 32px;
    width: 300px;
  }

  section.holderSection .btn {
    margin: 80px 0;
  }

  section.reviewsSection {
    padding: 90px 0;
  }

  .carousel {
    width: 700px;
    left: 40px;
  }

  .in-box-img {
    margin: 50px 0;
  }

  .in-box {
    height: 900px;
    padding: 0 30px;
  }

  section.wowclientsSection {
    min-height: 1150px;
  }

  .left-info {
    margin-right: 0;
  }

  section.wowclientsSection p {
    font-size: 28px;
  }

  .content .owl-carousel h6 {
    font-size: 28px;
  }

  section.wowclientsSection .in-box p {
    font-size: 24px;
  }

  section.wowclientsSection {
    min-height: 1040px;
  }

  section.reviewsSection h5 {
    margin: 0 0px 15px;
  }

  section.reviewsSection .container {
    max-width: 95%;
  }

  section.videoboxSection {
    padding: 120px 0;
  }

  section.bannerSection .header-wrapper {
    padding: 50px 0;
  }

  section.bannerSection {
    padding-bottom: 40px;
  }

  .content h1 span::before {
    bottom: 45px;
  }

  .content h1 {
    font-size: 94px;
  }

  section.bannerSection h3 {
    font-size: 30px;
  }

  section.bannerSection h4 {
    font-size: 40px;
  }

  section.videoboxSection .btn {
    font-size: 32px;
  }

  section.fpoSection {
    padding: 100px 0;
  }

  section.supportSection {
    padding: 70px 0;
  }

  .slider .owl-dots button {
    width: 70px;
    height: 70px;
    font-size: 36px;
    line-height: 77px;
  }

  section.optionsSection .container {
    max-width: 90%;
  }

  section.supportSection p {
    font-size: 26px;
  }

  section.supportSection .box-text p {
    font-size: 36px;
  }

  section.supportSection .box-text {
    padding: 0 70px;
    height: 480px;
  }

  .navbar ul a {
    margin-right: 30px;
  }

  section.techcolSection {
    padding: 100px 0 0;
  }

  section.techcolSection h2 span {
    font-size: 50px;
  }

  section.techcolSection h2 {
    padding: 15px;
  }

  section.techcolSection h4 {
    font-size: 24px;
  }

  section.techcolSection p {
    font-size: 18px;
  }

  .textbox {
    padding: 0 5px;
    height: 353px;
  }

  .second .textbox {
    height: 297px;
  }

  .container.small-width {
    max-width: 770px;
  }

  section.holderSection p strong {
    font-size: 50px;
  }

  section.holderSection p {
    font-size: 24px;
    width: auto;
  }

  section.imgSlider {
    padding: 70px 0;
  }

  .in-box-img {
    height: auto;
  }
}

@media screen and (max-width: 992px) {
  .navbar ul {
    font-size: 18px;
    margin-top: 10px;
  }

  .signin {
    font-size: 18px;
    padding: 10px;
  }

  .logo {
    margin-top: 0;
    position: absolute;
    left: 10px;
    top: 12px;
  }

  .navbar {
    padding: 0;
    text-align: left;
  }

  .header {
    padding: 10px 20px !important;
  }

  .navbar ul {
    margin-top: 56px;
  }

  .navbar ul li {
    padding: 10px 0;
  }

  .navbar ul li a {
    display: block;
  }

  .navbar-toggler {
    position: absolute;
    right: 20px;
    top: 15px;
    padding: 0;
    width: 25px;
  }

  .navbar-toggler span {
    display: block;
    background: #fff;
    width: 100%;
    height: 3px;
    margin-bottom: 4px;
  }

  .price-box {
    margin: 0;
  }

  .content .price-box p,
  .content .price-box h4 {
    font-size: 24px;
  }

  .content .total-in .price-box .large p strong {
    font-size: 88px;
  }

  .content .total-in .price-box .large {
    padding: 30px 0;
  }

  .content .price-box p strong {
    font-size: 60px;
  }

  .in-box {
    height: 890px;
  }

  .box {
    height: 320px;
    width: 320px;
    margin: 20px auto;
    padding: 0 20px;
  }

  .box img {
    height: auto;
  }

  .content .box h4 {
    font-size: 34px;
  }

  section.specsSection {
    padding: 30px 0;
  }

  section.boxesSection .img {
    margin-top: 25px;
  }

  section.holderSection h4 {
    font-size: 34px;
  }

  section.holderSection p {
    font-size: 20px;
  }

  section.holderSection p strong {
    font-size: 45px;
  }

  section.boxesSection .text-box {
    padding: 40px 20px 20px 35px;
    border: none;
    position: relative;
    border-top: 1px dashed #707070;
  }

  .box h4 span {
    height: 170px;
  }

  section.reviewsSection h4 {
    font-size: 60px;
    line-height: 120%;
  }

  section.reviewsSection .text-center {
    margin-right: 10px;
  }

  section.reviewsSection p {
    font-size: 28px;
    margin: 20px 0 0 10px;
  }

  section.reviewsSection .text-center::after {
    right: -37px;
  }

  .carousel {
    width: 100%;
    left: 20px;
  }

  section.wowclientsSection .btn {
    width: 100%;
  }

  section.reviewsSection .text-center {
    margin-right: 0;
  }

  .video {
    margin-right: 0;
  }

  .video a::before {
    width: 46px;
    height: 46px;
    -webkit-background-size: 16px auto;
    background-size: 16px auto;
    background-position: 17px center;
  }

  section.bannerSection h1 {
    font-size: 71px;
  }

  section.bannerSection h1 span::before {
    bottom: 31px;
  }

  .content .list ul {
    margin-top: 0;
    font-size: 24px;
  }

  .indent-text {
    width: 100%;
  }

  section.fpoSection .animation {
    top: -100px;
  }

  section.fpoSection {
    padding: 100px 0 70px;
  }

  section.supportSection .box-text {
    padding: 0 40px;
  }

  section.techcolSection .container {
    text-align: center;
  }

  section.techcolSection h4 {
    font-size: 26px;
  }

  section.techcolSection p {
    font-size: 19px;
  }

  .textbox {
    text-align: left;
    height: 400px;
  }

  section.techcolSection h2 {
    text-align: center;
    display: inline-block;
    margin: 0 auto 50px;
  }

  section.techcolSection h2 span {
    font-size: 60px;
  }

  section.techcolSection .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    align-self: flex-end;
  }

  .g-box {
    width: 360px;
    height: 340px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
  }

  section.guaranteeSection {
    -webkit-background-size: 992px auto;
    background-size: 992px auto;
    padding-top: 20px;
    background-position: center center;
  }

  section.guaranteeSection h2 {
    font-size: 30px;
    padding-top: 60px;
  }

  section.guaranteeSection h3 {
    font-size: 23px;
    margin-top: 24px;
    margin-bottom: 35px;
  }

  section.guaranteeSection h3:before {
    left: -51px;
  }

  section.guaranteeSection h3:after {
    right: -51px;
  }

  section.guaranteeSection h3:before,
  section.guaranteeSection h3:after {
    width: 37px;
    top: 14px;
  }

  section.guaranteeSection p {
    font-size: 18px;
  }

  section.guaranteeSection p strong {
    font-size: 40px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  section.bannerSection .header-wrapper img {
    width: 120px;
  }

  .slidee {
    background-size: contain;
    background-position: center;
  }

  section.techcolSection .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    align-self: flex-end;
  }

  .textbox {
    height: auto !important;
    text-align: center;
  }

  section.techcolSection {
    padding: 50px 0 0;
  }

  section.techcolSection h2 {
    display: block;
    margin-bottom: 10px;
  }

  section.reviewsSection .col-md-6 {
    display: block;
  }

  section.reviewsSection img {
    margin-top: 0px;
    width: 88px;
  }

  section.reviewsSection h4 {
    font-size: 35px;
    margin-bottom: 10px;
  }

  section.reviewsSection h6 {
    font-size: 15px;
  }

  .box {
    height: 280px;
    width: 280px;
  }

  .content .box h4 {
    font-size: 23px;
  }

  .box img {
    height: 32px;
  }

  section.boxesSection .text-box {
    padding: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    min-height: inherit;
    border: none;
  }

  section.boxesSection .img {
    height: auto;
    margin: 50px 0;
  }

  .content h2 {
    font-size: 30px;
  }

  .content h2 span:before {
    bottom: 12px;
    height: 10px;
  }

  section.boxesSection h3 {
    margin-bottom: 40px;
  }

  .content h3 {
    font-size: 20px;
  }

  section.boxesSection .col-lg-3:last-child .text-box:after {
    display: none;
  }

  .btn,
  section.holderSection .btn {
    font-size: 22px;
    width: 245px;
  }

  section.boxesSection {
    padding: 80px 0 60px;
  }

  section.boxesSection .btn {
    margin-top: 40px;
  }

  .box h4 span {
    height: 130px;
  }

  section.reviewsSection .text-center {
    padding-bottom: 0;
    min-height: inherit;
  }

  section.boxesSection .text-box:after,
  section.reviewsSection .text-center:before,
  .textbox:before {
    content: "";
    width: 104px;
    height: 2px;
    margin: 0 auto;
    display: inline-block;
    border-top: 1px dashed #707070;
  }

  .textbox:before {
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .textbox {
    padding: 20px 0;
  }

  section.reviewsSection h5,
  section.reviewsSection p {
    font-size: 17px;
  }

  section.reviewsSection p {
    padding: 40px;
    text-align: center;
    -webkit-background-size: 80px auto;
    background-size: 80px auto;
    background-position: 15px 0;
  }

  section.reviewsSection .text-center::after {
    display: none;
  }

  section.reviewsSection .text-center:before {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  section.reviewsSection {
    padding-bottom: 40px;
  }

  section.wowclientsSection h2 {
    margin: 0 30px 30px;
    text-align: center;
  }

  section.wowclientsSection p {
    font-size: 20px;
    text-align: center;
    margin: 0 30px 30px;
  }

  section.wowclientsSection {
    padding: 70px 0;
  }

  .carousel {
    width: 100%;
    left: 0;
    margin-top: 40px;
    position: relative;
  }

  section.wowclientsSection .container {
    max-width: 100%;
    padding: 0;
  }

  .owl-carousel .owl-item .in-box img {
    width: 228px;
  }

  .in-box {
    height: 590px;
    padding: 0 0 40px;
    text-align: center;
  }

  section.wowclientsSection .in-box h6,
  section.wowclientsSection .in-box p {
    text-align: center;
    margin: 0 40px 20px;
  }

  section.wowclientsSection .in-box h6 {
    font-size: 25px;
  }

  section.wowclientsSection .in-box p {
    font-size: 19px;
  }

  section.wowclientsSection .btn {
    font-size: 22px;
    width: 245px;
    margin: 30px auto 0;
    display: block;
  }

  .carousel .owl-nav button {
    position: absolute;
    top: 45%;
    width: 16px;
    height: 16px;
    outline: none !important;
  }

  .carousel .owl-nav button.owl-prev {
    left: 30px !important;
    background: url("../images/prev.svg") no-repeat center center !important;
  }

  .carousel .owl-nav button.owl-next {
    right: 30px !important;
    background: url("../images/next.svg") no-repeat center center !important;
  }

  .carousel .owl-dots {
    text-align: center;
  }

  .carousel .owl-dots button {
    width: 10px;
    height: 10px;
    outline: none !important;
    margin: 0 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #707070 !important;
  }

  .carousel .owl-dots button.active,
  .carousel .owl-dots button:hover {
    background: #707070 !important;
  }

  section.wowclientsSection {
    min-height: inherit;
  }

  section.videoboxSection {
    padding: 70px 0;
  }

  section.videoboxSection h2 {
    margin-bottom: 20px;
  }

  section.videoboxSection h3 {
    margin-bottom: 30px;
  }

  section.videoboxSection .container {
    max-width: 98%;
  }

  section.videoboxSection .btn {
    font-size: 22px;
    margin: 0 auto;
    display: block;
  }

  .content .list ul {
    font-size: 19px;
    width: 300px;
    margin: 50px auto;
  }

  .content .list ul li {
    margin-bottom: 0;
  }

  section.fpoSection .animation {
    display: none;
  }

  .image-mobile {
    display: block;
    margin-bottom: 30px;
  }

  .image-mobile img {
    width: 100%;
  }

  section.fpoSection .container {
    max-width: 90%;
    padding: 0;
  }

  section.fpoSection {
    padding: 80px 0 60px;
  }

  section.fpoSection p {
    font-size: 19px;
    padding: 0 40px;
    margin: 0 auto;
    text-align: center;
  }

  .slider .owl-dots button {
    width: 65px;
    height: 65px;
    font-size: 35px;
    line-height: 74px;
    margin: 7px 0;
  }

  section.supportSection {
    padding: 50px 0;
  }

  section.supportSection h2 {
    text-align: center;
    margin: 20px 0;
  }

  section.supportSection .container {
    text-align: center;
  }

  section.supportSection p {
    font-size: 20px;
    text-align: center;
  }

  section.supportSection .btn {
    margin: 50px auto 0;
    display: inline-block;
  }

  .slider .owl-dots {
    top: 0;
  }

  .slider {
    margin-top: 40px;
  }

  section.supportSection .box-text p {
    font-size: 23px;
  }

  section.supportSection .box-text {
    height: 324px;
  }

  .btn.desktop {
    display: none !important;
  }

  .btn.mobile {
    display: block !important;
  }

  section.holderSection {
    margin: -30px 0 0;
  }

  section.holderSection h4 {
    font-size: 23px;
  }

  section.holderSection p {
    margin-bottom: 20px;
  }

  section.holderSection p strong {
    word-break: break-all;
    line-height: 110%;
    margin: 0;
  }

  section.holderSection .btn {
    margin: 50px 0;
  }

  section.holderSection .row {
    text-align: left;
  }

  section.holderSection .row>div {
    border-top: 1px dashed #707070;
    padding: 25px 0 0;
  }

  section.holderSection h4 {
    position: relative;
    z-index: 7;
  }

  section.holderSection h4:after {
    content: "";
    background: #fff;
    position: absolute;
    left: -15px;
    bottom: -30px;
    width: 118%;
    height: 25px;
  }

  section.holderSection .img {
    float: left;
    height: 123%;
    width: 65px;
    margin: 0 20px 0 0;
    align-items: flex-start;
  }

  section.holderSection .img img {
    width: 100%;
  }

  .container.small-width {
    max-width: 100%;
    padding: 0;
  }

  section.bottomboxSection {
    padding: 30px 0 50px;
  }

  section.bottomboxSection p {
    font-size: 19px;
    margin: 0 0 20px;
  }

  section.bottomboxSection p span {
    font-size: 10px;
  }

  .android {
    width: 120px;
  }

  #footer {
    padding: 60px 0;
  }

  #footer ul {
    margin: 40px 0;
    font-size: 24px;
  }

  #footer ul li {
    margin: 0 30px;
  }

  #footer .bottom li {
    padding: 0 7px;
  }

  #footer p {
    font-size: 23px;
  }

  #footer p br {
    display: none;
  }

  #footer p.copy {
    font-size: 14px;
    margin: 30px 0;
  }

  #footer .bottom {
    margin-bottom: 0;
  }

  #footer .bottom li {
    font-size: 17px;
  }

  section.bannerSection .header-wrapper {
    text-align: center;
    padding: 25px;
  }

  .logotype img {
    width: 150px;
  }

  section.bannerSection .container {
    text-align: center;
  }

  section.bannerSection h3 {
    text-align: center;
    font-size: 20px;
  }

  .content h1 {
    text-align: center;
    font-size: 43px;
  }

  .content h1 span::before {
    height: 13px;
    bottom: 18px;
  }

  section.bannerSection {
    padding-bottom: 20px;
  }

  section.bannerSection h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  section.bannerSection p {
    font-size: 20px;
  }

  section.bannerSection p br {
    display: none;
  }

  section.bannerSection .btn {
    margin: 20px 0;
  }

  section.imgSlider {
    background: none;
    padding: 40px 0;
  }

  section.imgSlider h2 {
    margin-bottom: 30px;
  }

  section.imgSlider h3 {
    margin: 30px 0;
  }

  section.pricingSection h1 {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .box-indent {
    width: 100%;
    margin-bottom: 50px;
  }

  section.pricingSection .list ul {
    width: auto;
    margin: 0;
  }

  .center-img {
    display: none;
  }

  .content .title {
    margin: 50px 0;
  }

  .content .title h3 {
    font-size: 22px;
    top: -25px;
  }

  .price-box {
    margin-bottom: 20px;
  }

  .content .price-box p {
    margin-top: 20px;
  }

  .total-in {
    width: 100%;
  }

  .total-in p {
    font-size: 18px;
  }

  .input {
    margin: -50px 0 0;
  }

  .price-box .price-box {
    top: -460px;
    width: 50%;
    left: 0;
  }

  .content .boxes3 .price-box .price-box {
    padding: 30px 10px;
  }

  .content .select {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
  }

  .content .boxes3 .price-box p {
    margin-bottom: 0px;
  }

  .content .boxes3 .price-box .price-box p {
    margin-bottom: 40px;
    font-size: 18px;
  }

  .content .price-box .price-box h4 {
    padding-bottom: 20px;
  }

  .content .boxes3 .price-box .price-box p strong {
    font-size: 50px;
  }

  section.bannerSection h1 {
    font-size: 31px;
  }

  section.bannerSection h1 span::before {
    bottom: 15px;
  }

  .btn {
    line-height: 110% !important;
  }

  section.bannerSection p {
    display: none;
  }

  .modal {
    padding-right: 0 !important;
  }

  .modal-lg {
    max-width: 100%;
  }

  /*end 767*/
}

@media screen and (max-width: 500px) {
  .in-box {
    height: 680px;
  }

  nav.navigators div {
    width: 3rem;
    height: 3rem;
  }

  section.bannerSection h1 {
    position: relative;
    width: 300px;
    margin: 0px auto;
    font-size: 34px;
  }

  section.bannerSection h1 span::before {
    display: none;
  }

  section.bannerSection h1 span.border1 {
    display: block;
    position: absolute;
    width: 82px;
    height: 6px;
    background-color: #FFCC33;
    right: 19%;
    top: 26px;
  }

  section.bannerSection h1 span.border2 {
    display: block;
    position: absolute;
    width: 130px;
    height: 6px;
    background-color: #FFCC33;
    left: 19%;
    top: 63px;
  }

  section.bannerSection h1 span.border3 {
    display: block;
    position: absolute;
    width: 215px;
    height: 6px;
    background-color: #FFCC33;
    left: 14%;
    bottom: 4px;
  }

  section.boxesSection h2 {
    position: relative;
    font-size: 32px;
    width: 300px;
    margin: 0px auto;
  }

  section.boxesSection h2 span:before {
    left: -33px;
    width: 115%;
    bottom: 14px;
    height: 8px;
  }

  section.boxesSection h2 span.border1::before,
  section.wowclientsSection h2 span.border1:before,
  section.wowclientsSection h2 span.border2:before,
  section.videoboxSection h2 span.border1:before,
  section.supportSection h2 span.border1:before,
  section.supportSection h2 span.border2:before {
    display: none;
  }

  section.boxesSection h2 span.border1 {
    display: block;
    position: absolute;
    width: 197px;
    height: 7px;
    background-color: #FFCC33;
    right: 13%;
    top: 25px;
  }

  section.wowclientsSection h2 {
    width: 300px;
    margin: 0px auto;
    font-size: 28px;
  }

  section.wowclientsSection h2 span:before {
    height: 7px;
  }

  section.wowclientsSection h2 span.border1 {
    display: block;
    position: absolute;
    width: 46px;
    height: 6px;
    background-color: #FFCC33;
    right: 24%;
    top: 21px;
  }

  section.wowclientsSection h2 span.border2 {
    display: block;
    position: absolute;
    width: 110px;
    height: 6px;
    background-color: #FFCC33;
    left: 17%;
    top: 55px;
  }

  section.videoboxSection h2 {
    width: 280px;
    position: relative;
    margin: 0px auto;
  }

  section.videoboxSection h2 span.border1 {
    display: block;
    position: absolute;
    width: 219px;
    height: 6px;
    background-color: #FFCC33;
    left: 11%;
    bottom: 6px;
  }

  section.fpoSection h2 {
    width: 270px;
    margin: 0px auto;
  }

  section.supportSection h2 {
    width: 300px;
    margin: 0px auto;
    position: relative;
  }

  section.supportSection h2 span.border1 {
    display: block;
    position: absolute;
    width: 120px;
    height: 6px;
    background-color: #FFCC33;
    right: 9%;
    top: 24px;
  }

  section.supportSection h2 span.border2 {
    display: block;
    position: absolute;
    width: 91px;
    height: 6px;
    background-color: #FFCC33;
    left: 2%;
    top: 60px;
  }
}

@media screen and (max-width: 350px) {
  .g-box {
    width: 320px;
  }

  section.guaranteeSection h2 {
    padding-top: 48px;
  }

  section.guaranteeSection h3 {
    margin-top: 15px;
    margin-bottom: 28px;
  }

  .in-box {
    height: 780px;
  }

  .content h2 {
    font-size: 25px;
  }
}